<div class="row mt-5 about">
    <div class="col-5 text-center mt-5">
        <h1 class="h1about mt-5">About me</h1>
    </div>
    <div class="col-7 mt-5">
        <h5> EDUCATION: </h5>
        <p> 
            Bachelors of Computers and Information 
            <br> Major: Computer Science, El-Shorouk Academy 
        </p>
            
        <h5 class="mt-4">EXPERIENCE: </h5>
        <p> I am a trainee at ITI, specializing in full-stack PHP development.</p>

        <a [href]="cvUrl" [download]="cvName"  class="btn btn-outline-primary btn-lg p-2 w-25 mt-3">
            Download CV
        </a>

        <!-- <button type="button" class="btn btn-outline-primary btn-lg p-2 w-25 mt-3">Download CV</button> -->

        
    </div>
</div>