
header{
    position: relative;
    display: inline-block;
}

.imgHead img{
    width: 100%;
    display: block;
}

.imgHead::after{
    background: linear-gradient(rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.26));
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header-content{
    position: absolute;
    top: 24%;
    left: 11%; 
}
.h1header{
    font-size: 50px;

}