
<section class="portfolio mt-5">
    <div class="container">
        <h1 class="text-center mb-5">Portfolio</h1>

        <div class="row">
            <!-- *ngFor  -->
            <!-- <div class="col-md-3" *ngFor="let box of boxes">
                <div class="box">
                    Box {{box}}
                </div>
            </div> -->

            <div class="col-md-4">
                <div class="box">
                    <a [href]="HeptaWeb" target="_blank" rel="noopener noreferrer">
                        <h3>Hepta Website</h3>
                        
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="box">
                    Box
                </div>
            </div>

            <div class="col-md-4">
                <div class="box">
                    Box
                </div>
            </div>

           
        </div>

        <div class="row">
            <!-- *ngFor  -->
            <!-- <div class="col-md-3" *ngFor="let box of boxes">
                <div class="box">
                    Box {{box}}
                </div>
            </div> -->

            <div class="col-md-4">
                <div class="box">
                   Box
                </div>
            </div>

            <div class="col-md-4">
                <div class="box">
                    Box
                </div>
            </div>

            <div class="col-md-4">
                <div class="box">
                    Box
                </div>
            </div>

        </div>
    </div>
</section>
